<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Página de inicio</title>
  <style>
    /* Estilos CSS para página de início */
    body {
      background-image: url(C:\Users\usuário\Downloads\Logo\LogoNome.JPG);width="800" height="300" alt=(C:\Users\usuário\Downloads\Logo\LogoNome.JPG)
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    
    .container {
      max-width: 2000px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    
    p {
      text-align: justify;
    }
    
    .button {
      display: inline-block;
      background-color: #000000;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
    
    .button:hover {
      opacity: 0.8;
    }
  </style>
</head>