:root {
    --cor1:  #7a7a7a;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Página de inicio</title>
  <style>
    /* Estilos CSS para página de início */
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    
    .container {
      max-width: 2000px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    
    p {
      text-align: justify;
    }
    
    .button {
      display: flex;
      background-color: var(--cor1);
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      padding: 0;
    }
    
    .button:hover {
      opacity: 0.8;
    }
  </style>
</head>