<!DOCTYPE html>
<html lang="pt-BR">
<head>
<title>Sobre o autor</title>
<style>
  /* Estilo CSS página sobre */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #920000f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  p {
    text-align: justify;
  }
</style>
</head>
</html>